/* === GENERAL STYLES === */
body {
    margin: 15px;
    padding: 50px 450px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 1.8;
}

/* === TYPOGRAPHY === */
h1, h2 {
    text-align: center;
    margin: 0;
    font-weight: 300;
}

h1 {
    margin-bottom: 0;
    letter-spacing: 5px;
}

h2 {
    font-size: 15px;
}

h2.school-name {
    color: #0076C6;
    margin-bottom: 0;
    letter-spacing: 3px;
}

p,
ol li {
    font-size: 18px;
}

ol li {
    margin-bottom: 25px;
}

/* === IMAGES === */
img {
    display: block;
    width: 200px;
    height: auto;
    margin: 50px auto 0;
}

/* === HORIZONTAL LINE === */
hr {
    margin-top: 0;
    margin-bottom: 50px;
}

/* === DARK MODE === */
.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: rgb(160, 212, 237);
}
